body {
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(71, 133, 226);
}
    
.bg_image {
    background-image: url("https://insights.dice.com/wp-content/uploads/2019/07/Tell-Me-About-Yourself-Interview-Job-Interview-Interview-Questions-Dice.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 900px;
    
}

.playbg_image {
    background-image: url("https://eventage.net/wp-content/uploads/2018/06/Question-Mark-Background-01.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    height: auto;
    opacity: 0.8
}
    
.jumbotron, footer {
    background-color:rgb(51, 50, 50);
    color: white;
    opacity: 0.85;    
}
    
.jumbotron h4 {
    color: rgb(252, 252, 33);
    border-style: solid;
    border-color: white;
    border-width: .5px;
    padding: 5px;

}
    
nav {
    background-color: grey;
    opacity: 0.825;
}
    
nav a {
    color: black;
    font-weight: 800;
}
    
.card {
    opacity: 0.825;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.discord {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.phaseDisp {
    font-weight: bolder;
}

/* CHAT FEATURE */
.messages {
    height: 350px;
    overflow: auto;
  }


.discord {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}